body {
    font-family: "Roboto", sans-serif;
    color: var(--black-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --descriptions-color: #757575;
    --black-color: #000000;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --footer-color: #2f303a;
    --stress-color: #2196f3;
    --main-font-size: 14px;
    --letter-spacing: 0.03em;
    --letter-spacing-big: 0.06em;
    --background-of-elements: #f5f4fa;
}

.ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* header */

header {
    border-bottom: 1px solid #ececec;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.main-navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navigation-logo a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    margin-right: 93px;
}

.web {
    color: var(--accent-color);
}

.studio {
    color: var(--black-color);
}

header svg {
    margin-right: 10px;
}

.navigation-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 254px;
}

.navigation-menu a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    line-height: 1.38;
    position: relative;
}

.contacts {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.contacts a {
    display: flex;
    align-items: center;
}

.contacts-links {
    text-decoration: none;
    font-weight: 500;
    color: var(--descriptions-color);
    line-height: 1.71;
    fill: var(--descriptions-color);
}

.navigation-menu a:hover,
.navigation-menu a:focus,
.contacts-links:hover,
.contacts-links:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.stress::after {
    content: "";
    position: absolute;
    background: var(--stress-color);
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 47px;
}

/* main */

.slider {
    background: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(/goit-markup-hw-04/images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px auto;
    align-items: center;
    height: 600px;
    padding-top: 200px;
}

.solution {
    text-align: center;
}

.solutions-text {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    width: 696px;
    height: 120px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: auto;
}

.button-solution {
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 250ms linear, opacity 250ms linear,
        visibility 250ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    line-height: 29px;
}

.exit:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-hidden > .modal {
    transform: scaleX(0);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-contacts {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal-form-header {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-bottom: 12px;
}

.modal-form-label {
    position: relative;
    padding-bottom: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
}

.modal-form-label span {
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-svg {
    position: absolute;
    bottom: 22px;
    left: 12px;
}

.modal-form-input {
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label:focus-within {
    fill: #2196f3;
}

.modal-form-label input:focus,
.modal-form-textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-textarea {
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement {
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    color: #757575;
}

.modal-form-agreement a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
}

.modal-form-button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.modal-form-submit {
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 10px 76px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: var(--letter-spacing-big);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-box {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.form-box {
    display: flex;
    place-content: center;
    margin: 0;
    margin-right: 6px;
    background-color: var(--white-color);
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.advantages {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.advantages-svg {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: var(--background-of-elements);
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantages-list {
    width: 100%;
}

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
}

.advantages-text {
    font-size: var(--main-font-size);
    letter-spacing: var(--letter-spacing);
    color: var(--descriptions-color);
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0;
}

.whatwedo {
    padding-top: 0%;
}

.work-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    text-align: center;
    line-height: 1.17;
    padding-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.work-list li {
    position: relative;
    flex-grow: 1;
}

figure {
    padding: 0;
}

.whatwedo-background {
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    font-weight: 700;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 27px;
    width: 370px;
    height: 70px;
    bottom: 4px;
}

.what-we-do img {
    width: 100%;
    height: auto;
}

.team {
    background-color: #f5f4fa;
    padding-top: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: var(--letter-spacing);
    text-align: center;
    line-height: 1.17;
    margin-top: 0;
    padding-bottom: 50px;
}

.team-figures {
    display: inline-flex;
    gap: 30px;
    list-style-type: none;
}

.team-card {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    margin: 0;
}

.team-card-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-card-description {
    font-size: 16px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: var(--descriptions-color);
}

.team-socialmedia {
    margin-top: 25px;
    padding-bottom: 35px;
}

.socialmedia-links {
    display: flex;
    justify-content: center;
}

.socialmedia-link {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    fill: #afb1b8;
}

.socialmedia-link:hover,
.socialmedia-link:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    text-align: center;
    line-height: 1.17;
    padding-bottom: 50px;
}

.customer-works {
    display: flex;
    gap: 30px;
}

.customer-work {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: #afb1b8;
}

.customer-work:hover,
.customer-work:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

footer {
    background-color: #2f303a;
    width: 100%;
    height: 252px;
}

.main-footer {
    display: flex;
}

.footer-adress {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

#main-page2 a {
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
}

.web2 {
    color: var(--accent-color);
}

.studio2 {
    color: var(--white-color);
}

address {
    color: var(--white-color);
    font-size: var(--main-font-size);
    vertical-align: top;
    letter-spacing: var(--letter-spacing);
    font-style: normal;
    padding-bottom: 9px;
    padding-top: 20px;
}

.main-address {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.main-address li {
    padding-bottom: 9px;
}

.main-address a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    letter-spacing: var(--letter-spacing);
    font-size: var(--main-font-size);
}

.main-address a:hover,
.main-address a:focus {
    color: #2196f3;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialmedia {
    padding-left: 70px;
    padding-top: 70px;
}

.footer-socialmedia-header {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-socialmedia-links {
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.footer-socialmedia-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    fill: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
}

.footer-socialmedia-link:hover,
.footer-socialmedia-link:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
    padding-left: 70px;
    padding-top: 70px;
}

.newsletter-header {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: var(--white-color);
    padding-bottom: 20px;
}
.newsletter form {
    position: relative;
    display: inline-flex;
    gap: 24px;
}

.newsletter-email {
    width: 358px;
    height: 50px;
    padding-left: 22px;
    background-color: #2f303a;
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: transform 250ms ease-in, box-shadow 250ms ease-in;
}
.newsletter-email::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.newsletter-email:focus {
    outline: none;
    border: 2px solid;
    border-color: var(--accent-color);
}

.newsletter-submit {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: var(--letter-spacing-big);
    transition: transform 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.icon-send {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    right: 4%;
    top: 26%;
    transition: transform 1000ms ease-out;
}

.newsletter-submit:hover + .icon-send {
    transform: translate(20px, -10px) scale(0.9);
}

/* portfolio */

.button-portfolio-all {
    list-style-type: none;
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
    justify-content: center;
}

.button-portfolio {
    width: 121px;
    height: 38px;
    border: none;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: var(--links);
    border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--white-color);
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-portfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.check-portfolio figcaption {
    background-color: var(--white-color);
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    height: 110px;
}

.check-portfolio figure {
    font-size: 0;
}

.portfolio-things {
    width: 370px;
    height: 100%;
    margin: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.portfolio-things:hover,
.portfolio-things:focus {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-things-tittle {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    margin: 0;
    padding-left: 24px;
    padding-top: 20px;
}

.portfolio-text {
    color: var(--descriptions-color);
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    margin: 0;
    padding-left: 24px;
    padding-top: 15px;
    height: 110px;
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-things:hover .overlay {
    transform: translatey(0);
}

.overlay {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-color);
    transform: translatey(100%);
    transition: transform 250ms ease;
    align-items: center;
}

.overlay p {
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 24px;
}

.contact {
    min-height: 338px;
}
